<div
	class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
	<h1 class="h2"><%= user.firstName %> <%= user.lastName %></h1>
	<div class="btn-toolbar mb-2 mb-md 0">
		<div class="btn-group me-2">
			<button role="button" class="btn btn-sm btn-outline-secondary">
				Share
			</button>
		</div>
	</div>
</div>

<div class="col py-3">
	<div class="row">
		<div class="col">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/">Dashboard</a>
					</li>
					<li class="breadcrumb-item active"><%= user.firstName %></li>
				</ol>
			</nav>
		</div>

		<div class="col text-end fw-lighter">
			<b>Last Updated At <%= new Date(user.updatedAt).toUTCString() %></b>
		</div>
	</div>
</div>

<ul class="list-group">
	<li class="list-group-item">
		<div class="row">
			<b class="col" style="max-width: 150px">Name: </b>
			<p class="col"><%= user.firstName %> <%= user.lastName %></p>
		</div>
	</li>
	<li class="list-group-item">
		<div class="row">
			<b class="col" style="max-width: 150px">Email: </b>
			<p class="col"><%= user.email %></p>
		</div>
	</li>
	<li class="list-group-item">
		<div class="row">
			<b class="col" style="max-width: 150px">Telephone: </b>
			<p class="col"><%= user.tel %></p>
		</div>
	</li>
	<li class="list-group-item">
		<div class="row">
			<b class="col" style="max-width: 150px">Details: </b>
			<p class="col"><%= user.details %></p>
		</div>
	</li>
	<li class="list-group-item">
		<div class="row">
			<b class="col" style="max-width: 150px">Created At: </b>
			<p class="col"><%= new Date(user.createdAt).toUTCString()%></p>
		</div>
	</li>
</ul>
